@font-face {
  font-family: uber;
  src: url(./0.assets/UberMoveMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 300ms;
  font-family: uber;
}

body {
  background-color: black;
}

.hide {
  display: none;
}

.show {
  display: block;
}