* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/*----------Nav Bar--------------*/


.nav-container {
    padding: 20px;
    background-color: #0e0d0d;
    background-image: linear-gradient(62deg, #0e0d0d 0%, #73726c 50%, #645757 100%);
    width: 100%;
}



h1 {

    color: white;
}

.menu-nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

}

.menu-nav li {
    background-color: whitesmoke;
    padding: 15px;

}

.menu-nav li:hover {
    transition: 0.15s;
    background-color: #201f1f2e;

}

.menu-nav a:hover {

    color: azure;
}

.menu-nav a {
    color: rgb(12, 11, 11);
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
}

/*-------------------index---------------*/
body {

    background-color: #29091a;
    background-image: url("assets/background-form.png");
    background-size: cover;

}

.main-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.calcul-form {

    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .25);
}

.form-input {
    display: flex;
    height: 25px;
    padding: 10px;
    text-align: center;
}