<<<<<<< HEAD
@font-face {
  font-family: uber;
  src: url(./assets/UberMoveMedium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: uber;
=======



/*----------Nav Bar--------------*/
.nav-container {
  width: 20%;
  height: 100vh;
  background-color: black;
  padding: 15px;
  padding-left: 30px;
  padding-top: 30px;
}
.nav-logo-container {
  display: flex;
}
.nav-btn {
  cursor: pointer;
  padding-left: 25%;
  max-width: 40px;
}
.nav-btn svg {
  fill: white;
}

.nav-title {
  cursor: pointer;
  max-width: 110px;
}

.li-container {
  cursor: pointer;
  transition: 300ms;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 20px 0;
}

.li-container:hover {
  background-color: white;
}
.li-container:hover a {
  color: black;
}
.li-container:active {
  transition: 100ms;
  transform: scale(0.95);
}

.nav-title {
  color: #06c167;
}

.nav-title span.white-title {
  color: white;
}

.menu-nav ul {
  padding: 20px;
  padding-top: 100px;
  padding-left: 5px;
}
.menu-nav li {
  padding-left: 10px;
}

.menu-nav li a {
  transition: 300ms;
  color: white;
}

.menu-nav a:hover {

    color: azure;
}

.menu-nav a {
    color: rgb(12, 11, 11);
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
}

/*-------------------index---------------*/
body {
    display: flex;
    flex-direction: column;
    background-color: #29091a;
    background-image: url("assets/background-form.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.left-container {
    
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.calcul-form {
    max-height: 500px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    border-radius: 20px;

}

.form-input {
    display: flex;
    height: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;

}

.result-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0e0d0d;

}

@media screen and (max-width: 500px) {

    .main-container {
        width: 100%;
        justify-content: center;
        display: block;
    }

    .form-input {
        display: flex;
        height: 30px;

        padding: 10px;
        text-align: center;
        border-radius: 20px;
        justify-content: center;
        align-items: center;

    }
}


.week-ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: azure;
    padding: 20px;

}

.week-deliveries-ranking,
.week-turnover-ranking {
    padding: 20px;
    background-color: #0e0d0d;
    margin: 50px 0px;
}

footer {
    flex-shrink: 0;
    border-top: 1px solid white;
    width: 100%;
}

.footer-div ul {
    bottom: 0;

    background-color: rgba(240, 248, 255, 0.384);
    display: flex;
    padding: 30px;
    width: 100vw;
    justify-content: space-evenly;
}

/*-------------------------REGISTER---------------*/


.register-form-container  {
    background-color: rgb(6, 193, 103);
    padding: 2em;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
        
}
.register-form-container input {
   margin:1rem ;
    justify-content: center;
    align-items: center;
}
.hidding {
    display: none;
}

.register-form-container label {
    padding: 10px;
    text-align: center;
}

.register-fieldset {
    width: 100%;
    height: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    
}

.register-fieldset div {
    margin: 1rem;
}

.register-btn {
    padding: 10px;
}

