/* ----------------Home------------------ */

.home-container {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 50px;
  padding-left: 350px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.home-title {
  color: White;
  align-self: center;
}

.deputy-home-container {
  display: flex;


  background-color: red;
  border: 1px solid white;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}