/* ----------------Home------------------ */

.home-container {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 50px;
  padding-left: 350px;

}

.home-title {
  color: White;
  align-self: center;
}